*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #09090a;
  color: #fff;
  height: 100vh;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #8b5cf6;
  color: #fff;
  background: none;
  font-family: Inter;
  font-size: 1rem;
  font-weight: bold;
  line-height: 125%;
  gap: 12px;
}